/* Add here all your CSS customizations */
.slider-container .tp-opacity-overlay {
    background: #000;
    opacity: 0.15;
}

html .bg-color-dark, html .bg-dark {
    background-color: black !important;
}

.thumb-info{
    background-color: unset;
}

#footer {
    background: black;
    margin-top: 0px;
}
#footer .footer-copyright.footer-copyright-style-2 {
    background: black;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.social-icons.social-icons-opacity-light li a {
    background: rgba(255, 255, 255, 0.2);
}
.testimonial-author strong{
    opacity: 1 !important;
}
#header .header-body {
    border-top: unset !important;
    background-color: black !important;
}

.togle-services{
    background-color: white !important;
}
.toggle.active > .toggle-title{
    color: #0088CC !important;
}
.contact-icon{
    background: black;
}

.mobile-view{
    display: none;
}

.desktop-view{
    display: block;
}
@media only screen and (max-width: 767px) {
    .page-header.page-header-modern.page-header-background.page-header-background-md {
        padding: 85px 0;
        background-size: 100% 100%;
    }

    .tab-pane-navigation.active{
        margin-top: 10px;
    }

    .thumb-info{
        margin-top: 30px !important;
    }

    .index{
        margin-top: 40px !important;
    }

    html:not(.sticky-header-active) #header.header-transparent:not(.header-semi-transparent) .header-body-index
    {
        background-color: black !important;
        height: 80px;
    }
    html.sticky-header-active #header.header-effect-shrink .header-body {
        position: relative;
        height: 70px;
    }
    #header .header-logo img {
        width: 80px !important;
        height: 60px !important;
    }
    #revolutionSlider{   
        margin-top: 80px !important;
    }
    .mobile-view{
        display: block;
    }

    .desktop-view{
        display: none;
    }
}

   